{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination-custom', paginate: paginate %}
{% endcomment %}

<ul class="pagination">
  {% assign count = paginate.pages %}
  {% for part in (1..count) %}
    <li {% if paginate.current_page == part %}class="active"{% endif %}><a href="{{ collection.url }}?page={{ forloop.index }}" class="btn btn--tertiary btn--narrow"></a></li>
  {% endfor %}
</ul>
