{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-width collection-page__wrapper" id="collectionPage">
    {% section 'sidebar' %}
    {% section 'collection-template' %}
</div>